//COLORS

$Very-dark-blue: #080C20;
$Grayish-blue:#093F68;
$Acquamarine:#3EE9E5;
$White:#FFFFFF;
$Bright-pink:#FF2965;
$Gray:#777F98;

//UI

$background-body:$Very-dark-blue;
$background-input:$Grayish-blue;
$background-button:$Acquamarine;
$background-button-hover:$Very-dark-blue;
$background-card-dark:$Grayish-blue;
$background-card-light:$Acquamarine;

$border-button-hover:$Acquamarine;

$color-text-lighter:$Gray;
$color-text-dark:$Very-dark-blue;
$color-headings:$White;
$color-heading-accent:$Acquamarine;
$color-list-light:$White;