@import 'normalize','settings','variables';

body {
    background:$background-body;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

p {
    color:$color-text-lighter;
    font-weight: 500;
    font-size:1.5rem;
    line-height: 2.5rem;
}

h1,h2,h3 {
    color:$color-headings;
    font-weight: 800;
}

.header {
    padding:4rem 0 6.5rem;
}

.padding {
    padding:0 2.4rem;
}

.hero {

    margin-bottom:14.4rem;

    &__heading {
        font-size: 3.2rem;
        line-height: 4rem;
        width:75%;
        margin:auto;
    }

    &__heading-accent {
        color:$color-heading-accent;
    }

    &__about{
        margin-top:4.75rem;
    }

    &__paragraph {
        margin-top:2.3rem;
        margin-bottom:3.2rem;
    }
}

.highlights {

    &__highlight {
        margin-bottom:5.4rem;
    }

    &__highlight:last-child {
        margin-bottom:0;
    }

    &__icon-wrapper {
        height:124px;
        width:120px;
        border-radius: 45px;
        margin:auto;
        margin-bottom:3.2rem;
    }

    &__icon-passion {
        background: url(../assets/illustration-passions.svg) no-repeat center,$background-card-dark;
        background-size:66px;
        background-position-x: 33px;
    }

    &__icon-freedom {
        background: url(../assets/illustration-financial-freedom.svg) no-repeat center,$background-card-dark;
        background-size:56px;
        background-position-x: 33px;
    }

    &__icon-lifestyle {
        background: url(../assets/illustration-lifestyle.svg) no-repeat center,$background-card-dark;
        background-size:60px;
        background-position-x: 29px;
    }

    &__icon-work {
        background: url(../assets/illustration-work-anywhere.svg) no-repeat center,$background-card-dark;
        background-size:78px;
        background-position-x: 24px;
    }

    &__heading {
        margin-bottom:1.1rem;
        font-size:1.8rem;
        line-height: 2.5rem;
    }
}

.pricing {
    margin-top:14.4rem;

    &__about {
      margin-bottom:5.6rem;  
    }

    &__about-heading {
        font-size: 2.4rem;
        line-height: 3.3rem;
        margin-bottom:2.7rem;
    }

    &__card {
        border-radius: 8px;
        padding:6rem 3rem 3.2rem;
        background:$background-card-dark;
        text-align: left;
        position: relative;
    }

    &__top-icon {
        position: absolute;
    }

    &__top-icon-primary {
        top:-22px;
    }

    &__top-icon-secondary {
        top:-33px;
    }

    &__card-about {
        margin-bottom:2.6rem;
    }

    &__card-about--lighter {
        opacity:0.6;
    }

    &__card--secondary {
        background:$background-card-light;
        margin-top:6.5rem;
    }

    &__card-heading {
        font-size: 1.8rem;
        margin-bottom:1.9rem;
    }

    &__card-price {
        font-size: 4rem;
        line-height: 5.4rem;
    }

    &__card-price-sm {
        font-size: 1.5rem;
    }

    &__card-price-wrapper {
        display: flex;
        align-items: center;
    }

    &__card-price-recurrence {
        opacity: 0.6;
        margin-left:0.75rem;
    }

    &__card-list {
        color:$color-list-light;
        font-size:1.5rem;
        line-height: 2.5rem;
        margin-top:1.9rem;
    }

    &__card-list li {
        list-style: none;
        margin-bottom:1.2rem;
    }

    &__card-list li:last-child {
        margin-bottom:0;
    }

    &__card--secondary h2, &__card--secondary h3, &__card--secondary p, &__card--secondary ul {
        color:$color-text-dark;
    }

    &__check-light {
        filter: brightness(0) saturate(100%) invert(72%) sepia(89%) saturate(360%) hue-rotate(120deg) brightness(99%) contrast(86%);
    }

    &__check-light, &__check-dark {
        margin-right:1.5rem;
    }
}

.footer {
    margin: 14.4rem 0 16.4rem;

    &__heading {
        font-size: 2.4rem;
        width:75%;
        margin:0 auto 3.1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width:32.7rem;
    }

    &__form-element {
        padding:1.2rem 1.8rem 1.1rem;
        border:none;
        border-radius: 24px;
        outline:none;
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.5rem;
    }

    &__input {
        background: $background-input;
        color:$White;
        margin-bottom:2.4rem;
    }

    &__button {
        background:$background-button;
        color:$color-text-dark;
    }
}